.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfplan
*.tfvars
!example.tfvars
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log
.vscode/
.idea/
.DS_Store
Thumb.db